body {
	background-color: #f5d9d5;
	font-family: "Nunito", sans-serif;
}

body > nav > div > a {
	color: #ea1c2c !important;
}

nav {
	font-size: 1.5rem !important;
	font-weight: 100;
}

#navbarNav > ul > li > a {
	color: white !important;
}

#navbarNav > ul > li > a:hover {
	color: #ea1c2c !important;
}

body > section > div > div:nth-child(1) > div > h1 > span {
	color: #ea1c2c;
}

body > section > div > div:nth-child(1) > div > h1 {
	font-weight: 100;
	font-size: 4rem;
}

@media (max-width: 1200px) {
	body > section > div > div:nth-child(1) > div > h1 {
		font-weight: 100;
		font-size: 3rem;
	}
}
